.product-btn {
  display: none;
}
.product-thumb {
  position: relative;
  text-align: center;
}
.product-thumb h2 {
  line-height: 1.1em;
  margin-bottom: 20px;
}
.product-thumb p {
  font-family: "Domine", serif;
  font-size: 1.1em;
}
.product-bg {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  background-position: center center;
  background-size: cover;
}
.overlay {
  z-index: 1;
  position: relative;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  width: 100%;
  height: 75vw;
}
