.hero {
  background-image: url("./opener_bg_menu.jpg");
  background-size: 134%;
  background-position: -65px 42px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 250px;
  color: white;
  margin-top: 45px;
}
.hero h1 {
  opacity: 0.8;
}

.hero article {
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.4);
  text-align: center;
  padding-top: 110px;
}
