@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

h1 {
  letter-spacing: 10px;
  font-size: 32px;
  font-weight: 400;
  transform: scaleY(1.45);
}