@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700')

body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  transform: scaleY(1.25);
}

h1 {
  letter-spacing: 10px;
  font-size: 32px;
  font-weight: 400;
  transform: scaleY(1.45);
}

h2 {
  font-size: 22px;
  letter-spacing: 4px;
  font-weight: 500;
}

a {
  color: gray;
}
a:hover {
  color: #ae8548;
}